.NameRecordItem {
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}

.NameRecordItem__title {
  margin: 0 0 5px;
}

.NameRecordItem__title a {
  color: #263596;
}

.NameRecordItem__row {
  display: flex;
  justify-content: space-between;
}

.NameRecordItem__description {
  text-align: left;
  margin: 4px 0;
}

.AddNameRecordItem__required {
  color: #b00c0c;
}

.NameRecordItem__buttons {
  font-size: .8em;
  text-align: right;
}
