.Landing{
    -webkit-text-stroke-width: 1px;
    /* -webkit-text-stroke-color: black; */
}

/* h1{
	color: white;
	font-size: 72px;
	-webkit-text-stroke: 1px #F64C72;
	text-shadow: 0px 2px 4px #F64C72;

} */

h1 {
    background-image: linear-gradient(to left, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

p:first-letter{
    text-transform: uppercase;
}
p {
color: white;
font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
letter-spacing:0.1em;
text-align:center;
margin: 40px auto;
text-transform: lowercase;
line-height: 145%;
font-size: 18pt;
font-variant: small-caps;

}

.LandingToSelection{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:rgb(189, 226, 226);
    text-align:center;
    transition: all 0.15s;
  }