.nav{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid #99738E;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  background-color:#F64C72;
  color:#2F2FA2;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  }

.nav:hover{
  border-color: rgba(255,255,255,1);
  }

.navContainer{
    display: flex;
    justify-content: left;
    justify-items: left;
    align-items: left;
    float: left;
    clear: both;
  }

  @media screen and (min-width: 768px){

    .nav{
      position: absolute;
      top: 20px;
      left: 40px;
      margin-top: 20px;
    }
  }

  @media all and (max-width:30em){
    .nav{
      display:block;
      margin:0.2em auto;
    }
  }